body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: 4px 16px;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

img {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

.header {
    background-color: #1f2937;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.header-text .text-one {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.header-text .text-two, .right-nav-bar {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
}

.left-nav-bar {
    font-size: 24px;
    color: #f9faf8;
}

.big-nav-bar {
    display: flex;
    justify-content: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 275px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-img {
    width: 400px;
    height: 200px;
}

.header-text {
    width: 400px;
}

.header-text .text-two {
    margin-bottom: 5px;
}

.content-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 30px;
}

.content-one .text-one {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.card-holder {
    display: flex;
    gap: 20px;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.card-box {
    height: 140px;
    border-width: 5px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
}
.card-text {
    text-align: center;
}

.content-two {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 150px;
    gap: 10px;
}

.content-two .text-one {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.content-two .text-two {
    align-self: flex-end;
    margin-right: 20px;
}



.footer {
    background-color: #1f2937;
}




